# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.idea

mail_system_controller/frontend/node_modules/
mail_system_controller/frontend/scripts/flow/*/.flowconfig
mail_system_controller/frontend/.flowconfig
mail_system_controller/frontend/*~
mail_system_controller/frontend/*.pyc
mail_system_controller/frontend/.grunt
mail_system_controller/frontend/_SpecRunner.html
mail_system_controller/frontend/__benchmarks__
mail_system_controller/frontend/static/css/*
mail_system_controller/frontend/static/frontend/*
mail_system_controller/frontend/static/images/*
mail_system_controller/frontend/remote-repo/
mail_system_controller/frontend/coverage/
mail_system_controller/frontend/.module-cache
mail_system_controller/frontend/fixtures/dom/public/react-dom.js
mail_system_controller/frontend/fixtures/dom/public/react.js
mail_system_controller/frontend/test/the-files-to-test.generated.js
mail_system_controller/frontend/*.log*
mail_system_controller/frontend/chrome-user-data
mail_system_controller/frontend/*.sublime-project
mail_system_controller/frontend/*.sublime-workspace
mail_system_controller/frontend/.idea
mail_system_controller/frontend/*.iml
mail_system_controller/frontend/.vscode
mail_system_controller/frontend/*.swp
mail_system_controller/frontend/*.swo

mail_system_controller/frontend/packages/react-devtools-core/dist
mail_system_controller/frontend/packages/react-devtools-extensions/chrome/build
mail_system_controller/frontend/packages/react-devtools-extensions/chrome/*.crx
mail_system_controller/frontend/packages/react-devtools-extensions/chrome/*.pem
mail_system_controller/frontend/packages/react-devtools-extensions/firefox/build
mail_system_controller/frontend/packages/react-devtools-extensions/firefox/*.xpi
mail_system_controller/frontend/packages/react-devtools-extensions/firefox/*.pem
mail_system_controller/frontend/packages/react-devtools-extensions/shared/build
mail_system_controller/frontend/packages/react-devtools-extensions/.tempUserDataDir
mail_system_controller/frontend/packages/react-devtools-inline/dist
mail_system_controller/frontend/packages/react-devtools-shell/dist
mail_system_controller/frontend/packages/react-devtools-scheduling-profiler/dist
